h1 {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  margin: 35px;
}

header {
  background-image: url("../images/nico-mksmc-91Ntxboyg8Y-unsplash.jpg");
  height: 15vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:right;

}


#addToDoForm{
  width: 100%;
  margin: 50px 0;
  text-align: center;
}


#addToDoForm button{
  background-color:#4cc5a7;
  color: #ffffff;
  bottom: -40px;
  text-align: center;
  right: 100px;
}

#addToDoForm label{
  font-size: 14px;
}

#addToDoForm input{
  width: 300px;
}

ul#toDoList {
  list-style-type: none;
  text-align: left;
}

@media screen and (max-width:1024px) {
  header.mdl-layout__header {
    display:flex;
  }
}
