h1 {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  margin: 35px;
}

header {
  background-image: url("../images/nico-mksmc-91Ntxboyg8Y-unsplash.jpg");
  height: 15vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:right;
}


main {
  max-width: 400px;
}

#addToDoForm {
  width: 100%;
  margin: 20px 0;
  display: inline-block;
  text-align: center;
}

#addToDoForm label {
  font-size: 12px;
}


#addToDoForm button {
  margin-top: 40px;
  background-color: #61c8ad;
  color: white;
  width:80px;
  height: 30px;
  bottom: -40px;
  left: 110px;
}

ul#toDoList {
  list-style-type: none;
  text-align: left;
  padding-top:50px;

}

@media screen and (max-width:1024px) {
  header.mdl-layout__header {
    display:flex;
  }
}
